.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
librsync/.libs/
*.lo
libtool
ltmain.sh
missing
mkinstalldirs
modules/
*.la
run-tests.php
tests/001.diff
tests/001.exp
tests/001.log
tests/001.out
tests/001.php
tmp-php.ini
.cproject
.project
.settings
Debug
librsync/doc/Doxyfile
librsync/librsync-config.h
librsync/stamp-h1
.buildpath
config.h.in~
tests/010.diff
tests/010.exp
tests/010.log
tests/010.out
tests/010.php
tests/011.diff
tests/011.exp
tests/011.log
tests/011.out
tests/011.php
